doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    title Taller ABMS
  body
    h1 Ejemplo de Ajax
    div
      label alfa
      input#alfa(value='2')
      br
      label beta
      input#beta(value='3')
      br
      button#get Ver ejemplo get
      button#post Ver ejemplo post
      br
      span#resultado
    #status
    script(src='es6-promise.js')
    script(src='ajax-example.js')