doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    title Taller ABMS
  body
    h1 Ejemplo de Ajax
    div
      label alfa
      input#alfa(value='2')
      br
      label beta
      input#beta(value='3')
      br
      button#get Ver ejemplo get
      button#post Ver ejemplo post
      br
      span#resultado
    hr
    div
      label dni
      input#dni(value='16979103')
      br
      button#traer traer persona
      button#siguiente siguiente
      button#anterior anterior
      button#ultimo ultimo
      button#primero primero
      button#grabar grabar
      br
      #datos_persona
    #status
    script(src='es6-promise.js')
    script(src='ajax-example.js')