doctype html
html(lang="es", ng-app="personasApp")
  head
    meta(charset='utf-8')
    title Taller ABMS
    link(rel="stylesheet", type="text/css", href="taller-abm.css")
  body
    div.menu_superior(ng-controller="ErroresCtrl as error")
      img.menu_icon(src="triple-igual.png")
      span Taller ABM
      span.error_msg {{error.message}} {{error.object}}
    div.contenedor(ng-controller="PersonasCtrl as personas")
      div(ng-show="personas.parametros.estado!='ok' && personas.parametros.estado!='loading'")
        label DNI
        input(ng-model="personas.parametros.dni")
        button(ng-click="personas.operaciones.traer()") traer
      div(ng-show="personas.parametros.estado=='error'")
        div.error_msg {{personas.parametros.mensaje_error}}
      div(ng-show="personas.parametros.estado=='loading'")
        div Loading...
      div(ng-show="personas.parametros.estado=='ok'")
        div.titulo_ficha Persona {{personas.datos.dni}}
        span.campo(ng-repeat="(campo, dato) in personas.datos")
          label(for="campo_{{campo}}") {{campo}}
          input(id="campo_{{campo}}", ng-model="dato")
    script(src="angular.js")
    script(src="angular-route.js")
    script(src="ajax-best-promise.js")
    script(src="app.js")
